export(usl)
exportClasses(USL)
exportMethods(efficiency)
exportMethods(peak.scalability)
exportMethods(plot)
exportMethods(predict)
exportMethods(print)
exportMethods(scalability)
exportMethods(show)
exportMethods(summary)
import(graphics)
import(methods)
import(stats)
importFrom(boot,boot)
importFrom(nlmrt,nlxb)
