# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-tinytex@v1
      - name: Install dependencies
        run: |
          install.packages(c("remotes", "rcmdcheck", "tinytex"))
          remotes::install_deps(dependencies = TRUE)
          tinytex::tlmgr_install('koma-script')
          tinytex::tlmgr_install('mathdesign')
          tinytex::tlmgr_install('microtype')
          tinytex::tlmgr_install('footmisc')
          tinytex::tlmgr_install('cleveref')
        shell: Rscript {0}
      - name: Check
        run: |
          options(crayon.enabled = TRUE)
          rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error")
        shell: Rscript {0}
